<div class="white-bkg">
    <div class="beer-img">
        <img src="/images/beer.png" width="300" alt="beer">
    </div>
    <div>
        <a href="/beers" class="align-btn"><button>Check the Beers!</button></a>
        <a href="/random-beers" class="align-btn"><button>Check a Random Beer</button></a>
    </div>
</div>
<footer class="footer-bkg">Developed by Ironhack ;)</footer>